@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?khz981');
  src:  url('../fonts/icomoon.eot?khz981#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?khz981') format('truetype'),
    url('../fonts/icomoon.woff?khz981') format('woff'),
    url('../fonts/icomoon.svg?khz981#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons_bowl:before {
  content: "\e900";
}
.icon-icons_comb:before {
  content: "\e901";
}
.icon-icons_dryer:before {
  content: "\e902";
}
.icon-icons_eyelash:before {
  content: "\e903";
}
.icon-icons_girl:before {
  content: "\e904";
}
.icon-icons_mascara:before {
  content: "\e905";
}
.icon-icons_mirror:before {
  content: "\e906";
}
.icon-icons_nails:before {
  content: "\e907";
}
.icon-icons_pay:before {
  content: "\e908";
}
.icon-icons_purse:before {
  content: "\e909";
}
.icon-icons_scissors:before {
  content: "\e90a";
}
.icon-icons_spa:before {
  content: "\e90b";
}
.icon-icons_waist:before {
  content: "\e90c";
}
