/*------------------------------------------------------------------
Theme Name: Listing - Responsive Bootstrap Landing Page
Version: 1.0
Author: 
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[TABLE OF CONTENTS]
    
    1. GLOBAL STYLES

/* ==============================================================
   GLOBAL COLOURS
   ============================================================== */

$base: #000;
$purple: #6c25e5;
$light_purple: #8f25e5;
$green: #41d7c7;
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    @media (max-width: 992px) {
        font-size: 50px;
    }
    @media (max-width: 768px) {
        font-size: 40px;
    }
    @media (max-width: 576px) {
        font-size: 33px;
    }
}

h2 {
    font-size: 38px;
    font-weight: 700;
    color: #484848;
    @media (max-width: 576px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    @media (max-width: 992px) {
        font-size: 20px;
    }
}

h4 {
    font-size: 25px;
    @media (max-width: 992px) {
        font-size: 22px;
    }
}

h5 {
    font-size: 22px;
    font-weight: 700;
    color: #484848;
}

.main-block {
    padding: 50px 0;
    @media (max-width: 992px) {
        padding: 44px 0;
    }
}

footer.main-block {
    padding: 120px 0 120px;

    @media (max-width:768px) {
        padding: 60px 0;
    }
}

.gray {
    background: #fbfbfb;
}

.gray-dark {
    background: #f5f5f5;
}

.gradient {
    background: $purple; /* Old browsers */
    background: -moz-linear-gradient(left,  $green 0%, $purple 50%, $light_purple 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $green 0 0%,$purple 50%,$light_purple 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $green 0 0%,$purple 50%,$light_purple 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.container-fluid {
    max-width: 1500px;
}

.container-fw {
    max-width: 100%!important;
}

.container-subpage {
    max-width: 100%!important;
}

.responsive-wrap {
    @media (max-width: 992px) {
        max-width: 100%;
        flex: 100%;
    }
}

.responsive-block {
    @media (max-width: 992px) {
        max-width: 50%;
        flex: 50%;
    }
    @media (max-width: 576px) {
        max-width: 100%;
        flex: 100%;
    }
}


/* ==============================================================
   NAV MENU
   ============================================================== */

.nav-menu {
 }

 a.navbar-brand  {

    padding-bottom: 0;
    padding-top: 0;

 img {
     width: 150px;
 }

}

.nav-item {
    a {
        color: #fff;
        font-weight: 400;
        &:hover {
            color: #fff;
            background: none;
        }
    }
    span {
        font-size: 12px;
    }
}

.nav-link {
    opacity: 1;
    transition: 0.3s;
    &:hover {
        opacity: 1;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    outline: none;
}

.btn-white {
    background: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
    color: $light_purple;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight:700
}

.btn-outline-danger {
    color: #ff6b6b;
    border-color: #ff6b6b;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 14px;
    margin: 2px 0 0;
    &:hover,
    &:focus {
        color: #fff;
        border-color: #ff6b6b;
        background: #ff6b6b;
        box-shadow: none;
    }
}
.navbar-toggler {
    color: white;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
    outline: none;
    cursor: pointer;
}

.navbar {
    padding: 1rem 0;
}

// Drodown
.dropdown-item {
    border-bottom: 1px solid #f5f0f0;
    line-height: 1.8;
    padding: 0.45rem 1.5rem;
}

// .dropdown-item.active,
// .dropdown-item:active {
//    background: #ff6b6b; 
// }
.dropdown-menu {
    border-radius: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
    }
    .dropdown:hover>.dropdown-menu {
        visibility: visible;
        opacity: 1;
        // border: none;
    }
    .dropdown-submenu:hover .dropdown-menu1 {
        visibility: visible;
        opacity: 1;
    }
    .navbar-toggleable-md .navbar-collapse {
        justify-content: center;
    }
    .navbar-toggleable-md .navbar-nav {
        align-items: center;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        margin: 20px 0;
    }
    .dropdown-menu {
        background-color: #f7f7f7;
        border: 0;
    }
}


/* ==============================================================
   MAIN TITLE
   ============================================================== */

.hero-wrap {
    text-align: center;
    min-height: 100vh;
    @media (max-width: 768px) {

        min-height: 500px;
    }
    h1 {
        color: #484848;
        font-weight: 700;
    }
    h3 {
        color: #7c7c7c;
        margin: 15px 0 0;
        font-size: 24px;
        font-weight: 300;
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

.search-box {
    border: 1px solid #ccc;
    margin: 10px auto 0 auto;
    @media (min-width: 769px) {
        max-width: calc(232.5px  + 232.5px + 30px);
    }
}

.search-box_line {
    border-right: 1px solid #ccc;
    @media (max-width: 767px) {
        border: none;
    }
}

.search-box1,
.search-box2 {
    text-align: left;
    padding: 10px 20px;
    @media (max-width: 768px) {
        border-bottom: 1px solid #ccc;
    }
    label {
        font-size: 19px;
        font-weight: 600;
        color: #484848;
        margin: 0;
    }
}

.search-form {
    margin: 0;
    color: #484848;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: none;
    width: 64%;
    background: none;
    &::placeholder {
        color: #adadad;
    }
    @media (max-width: 992px) {
        width: 100%;
    }
    &:focus {
        outline: none;
    }
}

.search-box2 {
    position: relative;
    border: none;
    width: 100%;
    display: inline-block;
    background: white;

    p {
        color: #484848;
    }
}

.search-box-title {
    margin: 0px 0 0;
    @media (max-width: 768px) {
        display: block;
    }
}

.btn-search {
    position: absolute;
    top: 29%;
    right: 3%;
    background: #ff6b6b;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s;
    @media (max-width: 992px) {
        position: inherit;
        margin: 15px 0 0;
    }
    &:hover {
        background: #ea5555;
        color: #fff;
    }
    .btn-simple {
        color: #fff;
        padding: 20px 46px;
        font-size: 18px;
        @media (max-width: 1200px) {
            padding: 18px 31px;
        }
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}


/* ==============================================================
   HOME 2
   ============================================================== */

.home-bg {
    background-image: url(../images/hero_image.png); 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    @media (max-width: 768px){
        background-attachment: scroll;
    }
    .hero-title {
        h1 {
            color: #6825e5;
        }
        h3 {
            color: #000000;
        }
    }
    .hero-buttons {
        margin: 3rem auto 0em;

        @media (max-width: 768px){
        margin-top: 0
        }
        ul {
            list-style: none;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: center;
            padding-left: 0
        }
        li {
            @media (min-width: 769px) {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding-left: 15px;
                padding-right: 15px;

            }

            @media (max-width: 768px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 15px;
                padding-right: 15px;

            }
        }
        a {
            border: 1px solid $purple;
            font-weight:700;
            padding: .7rem 1rem;
            color: #000;
            margin: 1rem auto 0;
            width: 100%;
            display: block;
            position: relative;
            overflow: hidden;
            z-index: 1;
            -webkit-transition-delay: 0.2s;
            transiton-delay: 0.2s;
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              background: $purple;
              -webkit-transition: width 0.2s cubic-bezier(1, 0, 0, 1), height 0.2s ease 0.2s, top 0.2s ease 0.2s;
              transition: width 0.2s cubic-bezier(1, 0, 0, 1), height 0.2s ease 0.2, top 0.2s ease 0.2s;
              right: -1px;
              width: 1px;
              height: 1px;
            }

            &:hover{
                color: #fff;
                text-decoration: none;
                &:before {
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;

              }
            }
        }
    }
    
    .search-box-title {
        label {
            color: #6825e5;
            position: absolute;
        }
        .search-form {
            color: #fff;
            padding-left: 25px;
            width: 100%;
            &::placeholder {
                color: rgba($color: #000, $alpha: 0.7);
            }
        }
    }
    .search-bottom-title {
        color: #fff;
        a {
            color: #fff;
        }
    }
}


.title-block {
    text-align: center;
    margin: 2rem auto;
    h2 {
        font-size: 20px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }
}


/* ==============================================================
   POPULAR
   ============================================================== */

.popular-link-set {
    padding: 50px 0;
}

.popular-link-wrap {
    text-align: center;
    p {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700
    }
}

.popular-links {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width:600px;
    }
    ul {
        padding: 0;
        margin: 0;
        background: #fff;
        li {
            list-style: none;
            word-wrap: break-word;
            transition: 0.3s;
            @media (max-width: 768px) {
                width: 100%;
                border-right: none;
            }
            &:hover {
                background: #fbfbfb;
            }
            // @media (max-width: 1200px) {
            // 	width: 100%;
            // 	border-right: none;
            // 	border-bottom: 1px solid #dadada;
            // }
            &:last-child {
                border: none;
            }
            a {
                color: #000;
                font-size: 16px;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                text-align: center;
                padding: 20px;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            .service__icon {
               height: 150px;
               width: 150px;
               background: #f4e9fc;
               display: block;
               border-radius: 50%;
               line-height: 150px;
               text-align: center;
               margin: 0 auto 20px; 
            i {
                font-size: 100px;
                display: block;
               line-height: 150px;

                }
                }
            .service__title {
                text-transform: uppercase;
                font-weight: 600
            }
            }
        }
    }
}

.poplar-svg {
    width: 33px;
    height: 33px;
    display: block;
    margin: 0px auto 12px auto;
}


.services-wrap {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    .swiper-button-next, .swiper-button-prev {
        top: 40%;

    }

    .swiper-button-next {
        background-image: url('../images/arrow-right.svg');
    }

    .swiper-button-prev {
        background-image: url('../images/arrow-left.svg');
    }
}


/* ==============================================================
   INSPO GRID
   ============================================================== */
.inspo-grid {
overflow: hidden;
}
.inspo-grid img {
    max-width: 100%
}

.inspo-grid .two__column [class^="col-"] {
    padding-left: 10px;
    padding-right: 0
}

.inspo-grid .one__column{
    padding-right: 0px;

}

.two__imgs img {
    margin-bottom:: 10px;
}


/* ==============================================================
   HOW IT WORKS
   ============================================================== */

.howit-bg {
    background: url(../images/howit-bg.png) no-repeat top center;
    background-size: contain;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    @media (max-width: 768px) {
        display: none;
    }
}

.howit-icon-wrap {
    text-align: center;
    margin: 0 0 30px;
    h4 {
        padding: 22px 0;
        margin: 0;
        font-weight: 600;
    }
    p {
        padding: 0 30px;
        line-height: 1.8;
    }
}

.howit-img-block {
    width: 86px;
    height: 86px;
    border: 1px solid #ff6b6b;
    background: #fff;
    border-radius: 50%;
    padding: 22px;
    margin: 0 auto;
    display: block;
}

.howit-svg {
    width: 40px;
    height: 40px;
}

.howit-icon-wrap:hover .howit-img-block {
    background: #ff6b6b;
}

.howit-icon-wrap:hover .howit-svg path {
    fill: #FFF;
}

.search-bottom-title {
    font-size: 14px;
    color: #7c7c7c;
    margin: 20px 0;
    a {
        color: #7c7c7c;
        text-decoration: underline;
        transition: 0.3s;
        &:hover {
            color: #ff6b6b;
        }
    }
}


.howit-wrap {
    max-width: 850px;
    margin: 0 auto;
    position: relative;

   
    .swiper-button-next, .swiper-button-prev {
        top: 30%;

    }

    .swiper-button-next {
        background-image: url('../images/arrow-right.svg');
    }

    .swiper-button-prev {
        background-image: url('../images/arrow-left.svg');
    }
}

.howit-link-wrap {
    text-align: center;

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 2.3rem
    }

}

.howit-links {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    @media (max-width: 768px) {
        max-width: 600px;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 27%
    }

    .swiper-button-prev  {
        left: -10px;
    }

    ul {
        padding: 0;
        margin: 0;
        background: #fff;
        li {
            list-style: none;
            word-wrap: break-word;
            transition: 0.3s;
            @media (max-width: 768px) {
                width: 100%;
                border-right: none;
            }
            &:hover {
                background: #fbfbfb;
            }
            // @media (max-width: 1200px) {
            //  width: 100%;
            //  border-right: none;
            //  border-bottom: 1px solid #dadada;
            // }
            &:last-child {
                border: none;
            }
            
                color: #000;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                padding: 20px;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            .service__icon {
               height: 150px;
               width: 150px;
               background: #f4e9fc;
               display: block;
               border-radius: 50%;
               line-height: 150px;
               text-align: center;
               margin: 0 auto 20px; 
            i {
                font-size: 100px;
                display: block;
               line-height: 150px;

                }
                }
            .service__title {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                margin: 1rem auto;
                display: block;
            }
            }
        
    }
}



/* ==============================================================
   FOOTER
   ============================================================== */

footer {
    position: relative;
    z-index: 1;
}

.location {
    @media (max-width: 992px) {
        text-align: center;
        margin: 0 0 30px;
    }
    i {
        color: #adadad;
        font-size: 22px;
        border: 1px solid #adadad;
        padding: 7px 12px;
        vertical-align: top;
        margin: 2px 12px 0 0;
        @media (max-width: 1300px) {
            margin: 2px 0 0 0;
        }
    }
    p {
        display: inline-block;
        font-size: 13px;
        color: #adadad;
        @media (max-width: 992px) {
            display: block;
            margin: 10px 0 0;
        }
    }
}

.footer-logo_wrap {
    text-align: center;

    img {
        width: 200px;
    }

    @media (max-width: 768px) {
        margin-bottom: 2rem;
        
    }
}
.links-heading {
    margin-bottom: .9rem;
    display: block;
    color: white;
    @media (max-width: 768px) {

    text-align: center;

    }
}

.useful-links {
    color: white;
    @media (max-width: 768px) {
        
        margin: 2rem auto;
    text-align: center;

    }

    ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li {

        a {
            color: #cfcfcf;
            padding-bottom: .35rem;
            font-size: 13px;
            display: block;
        }
    }

    }
}

.social-icons {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: -5px;
    @media (max-width: 992px) {
        text-align: center;
        margin: 30px 0 0;
    }
    li {
        list-style: none;
        display: inline-block;
        margin-left: 5px;
        @media (max-width: 992px) {
            margin: 0 15px;
        }
        a {
            color: #fff;
            font-size: 16px;
            line-height: 36px;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            display: block;
            background: #7f7d7d;
            text-align: center;
            border-radius: 50%;
            &:hover {
                
            }
        }
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #adadad;
    a {
        text-decoration: underline;
        color: #adadad;
        margin: 0 10px;
        transition: 0.3s;
        &:hover {
            color: #484848;
        }
    }
}


/* ==============================================================
   DETAIL PAGE
   ============================================================== */

.detail-filter-wrap {
    padding: 17px 0;
    border-bottom: 1px solid #e7e7e7;
    @media (max-width: 992px) {
        border: 0;
    }
    p {
        font-size: 18px;
        color: #3e434b;
        font-weight: 300;
        margin: 6px 0 0;
        span {
            font-weight: 500;
        }
    }
}

.detail-filter {
    text-align: right;
    @media (max-width: 992px) {
        text-align: left;
    }
    p {
        font-weight: 300;
        color: #3e434b;
        font-size: 14px;
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

.map-responsive-wrap {
    display: none;
    @media (max-width: 992px) {
        display: block;
    }
    iframe {
        width: 100%;
        height: 800px;
    }
}

.contact-map {
    min-height: 500px;
}

.map-icon {
    display: none;
    border: 1px solid #737882;
    color: #737882;
    padding: 10px 20px;
    opacity: 0.6;
    transition: all 0.5s ease;
    &:hover {
        text-decoration: none;
        color: #737882;
        opacity: 1;
    }
    @media (max-width: 992px) {
        display: block;
    }
    @media (max-width: 480px) {
        margin: 10px 0 0;
    }
    span {
        font-size: 22px;
    }
}

.map-toggle {
    display: none;
}

.filter-dropdown {
    display: inline-block;
    select {
        border-radius: 0;
    }
}

.detail-checkbox-wrap {
    padding: 22px 0;
}

.detail-options-wrap {
    padding: 15px 0;
    .featured-place-wrap {
        margin: 0;
        &:hover {
            box-shadow: none;
        }
        @media (max-width: 992px) {
            margin: 0 0 30px;
        }
    }
}

.responsive-wrap {
    @media (max-width: 992px) {
        max-width: 100%;
        flex: 100%;
        z-index: 999;
    }
}

// Map
.map-wrap {
    padding: 0;
}

.map-fix {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 41.7%;
    z-index: 0;
    @media (max-width: 992px) {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.map-fix .map-close {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 10;
        color: #ff6b6b;
        background: #FFF;
        padding: 8px;
        border: solid 1px #ff6b6b;
        border-radius: 50%;
        line-height: 0;
        text-decoration: none;
    }
}

#map {
    height: 100%;
    width: 100%;
}


/* 
   BOOKING PAGE
   */


/* ==============================================================
   RESERVE A SEAT
   ============================================================== */

.reserve-block {
    padding: 24px 0;
    h5 {
        color: #3e434b;
        font-weight: 500;
        display: inline-block;
        margin: 0;
    }
    p {
        display: inline-block;
        font-size: 18px;
        color: #b2b8c3;
        font-weight: 400;
        padding: 0 0 0 8px;
        margin: 0;
        @media (max-width: 992px) {
            margin: 0;
        }
        span {
            color: #ff6b6b;
        }
    }
}

.reserve-description {
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.reserve-seat-block {
    text-align: right;
    @media (max-width: 992px) {
        margin: 15px 0 0;
    }
    @media (max-width: 768px) {
        text-align: left;
    }
}

.reserve-rating {
    font-size: 23px;
    background: #46cd38;
    padding: 8px 16px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}

.reserve-btn .btn {
    padding: 15px 30px;
}

.review-btn {
    display: inline-block;
    text-align: center;
    margin: 3px 14px 0 14px;
    @media (max-width: 1200px) {
        margin: 3px 4px 0 4px;
    }
    @media (max-width: 576px) {
        margin: 3px 0px 0 0px;
    }
    span {
        display: block;
        color: #8a8e96;
        font-size: 15px;
    }
    .btn-outline-danger {
        color: #ff6b6b;
        border-color: #ff6b6b;
        &:hover,
        &:focus {
            color: #fff;
            background: #ff6b6b;
            box-shadow: none;
            outline: none;
        }
    }
}

.reserve-btn {
    display: inline-block;
    vertical-align: top;
    @media (max-width: 768px) {
        margin: 0;
    }
    @media (max-width: 576px) {
        margin: 0 0 0;
    }
}

.custom-checkbox {
    color: #737882;
    // span {
    // 	padding: 0 10px 0 0;
    // }
}


/* ==============================================================
   BOOKING DETAILS
   ============================================================== */

.booking-details_wrap {
    padding: 26px 0;
}

.booking-your-review {
    background: #fff;
    margin: 25px 0 0;
    span {
        color: #ff6b6b;
    }
}

.your-rating-wrap {
    padding: 10px;
    border: 1px solid #eaeaea;
    h6 {
        font-size: 18px;
        margin: 0 0 14px;
    }
}

.your-comment-wrap {
    position: relative;
}

.your-rating-content {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 10px;
    margin: 15px 0 6px;
    width: 100%;
    height: 125px;
    &::placeholder {
        color: #ccc;
    }
}

.your-rating-notify {
    position: absolute;
    right: 18px;
    bottom: 14px;
    font-size: 13px;
    color: #737882;
}

.add-frieds {
    padding: 6px;
    width: 100%;
    border: 1px solid #eaeaea;
    &::placeholder {
        font-size: 14px;
    }
}

.add-photos-link {
    display: block;
    a {
        border: 1px solid #eaeaea!important;
        border-radius: 0!important;
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 0!important;
        padding: 7px!important;
        i {
            padding: 0 8px 0 0;
        }
    }
}

.your-rating-share {
    margin: 15px 0 0;
    .md-checkbox {
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

hr {
    margin-bottom: 1.8rem;
}

.your-rating-btn {
    @media (max-width: 768px) {
        float: none;
    }
    .btn {
        padding: 10px 18px;
        color: #fff;
        border: none;
    }
}

.your-rating-text {
    display: inline-block;
    font-size: 15px;
    color: #ff6b6b;
    margin: 0 0 0 8px;
}

.booking-checkbox_wrap {
    background: #fff;
    padding: 30px;
    h4 {
        color: #3e434b;
        text-align: center;
        font-weight: 500;
    }
}

.booking-checkbox {
    color: #737882;
    font-size: 15px;
    p {
        line-height: 1.8;
    }
}

.customer-review_wrap {
    display: inline-block;
    width: 100%;
}

.customer-img {
    width: 110px;
    float: left;
    text-align: center;
    @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }
    img {
        border-radius: 50%;
    }
    p {
        color: #3e434b;
        margin: 4px 0 0;
        text-align: center;
        font-size: 17px;
        line-height: 1.2;
    }
    span {
        font-size: 13px;
        color: #737882;
        text-align: center;
    }
}

.customer-content-wrap {
    margin: 0 0 0 135px;
    @media (max-width: 992px) {
        margin: 0 0 0 110px;
    }
    @media (max-width: 992px) {
        margin: 0px;
    }
    ul {
        margin: 24px 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 10px 0 0;
            @media (max-width: 480px) {
                margin: 0 0 10px 0;
            }
        }
    }
    span {
        color: #737882;
        margin-right: 10px;
    }
    a {
        border: 1px solid #ccc;
        color: #737882;
        font-size: 14px;
        border-radius: 3px;
        padding: 5px 10px;
        &:hover {
            text-decoration: none;
        }
        span {
            margin: 0 6px 0 0;
        }
    }
}

.customer-text {
    color: #737882;
    margin-top: 10px;
    line-height: 1.7;
    font-size: 15px;
}

.customer-content {
    h5 {
        color: #3e434b;
        font-weight: 500;
    }
    p {
        color: #737882;
        display: inline-block;
        vertical-align: top;
        line-height: 0.8;
        margin: 0 0 0 8px;
    }
}

.customer-review {
    display: inline-block;
    span {
        width: 10px;
        height: 10px;
        background: #46cd38;
        border-radius: 50%;
        display: block;
        float: left;
        margin: 0 5px 0 0;
    }
    @media (max-width: 767px) {
        .customer-content & {
            display: block;
        }
    }
}

.round-icon-blank {
    background: #d9dce7!important;
}

.round-icon-red {
    background: #ff6b6b!important;
}

.round-icon-orange {
    background: #ffbb27!important;
}

.customer-rating {
    background: #46cd38;
    padding: 4px 16px;
    float: right;
    // font-size: 18px;
    color: #fff;
    border-radius: 3px;
    @media (max-width: 767px) {
        float: none;
        display: inline-block;
    }
}

.customer-rating-red {
    background: #ff6b6b!important
}

.customer-description {
    margin: 0 0 0 50px;
}

// Contact Info
.contact-info {
    background: #fff;
    padding: 0 0 6px;
    margin: 0 0 15px;
    img {
        width: 100%;
    }
    label {
        color: #46cd38;
        font-size: 14px;
        padding: 0 0 0 50px;
        @media (max-width: 992px) {
            display: block;
        }
    }
}

.address {
    color: #737882;
    padding: 18px 0 0 16px;
    span {
        font-size: 18px;
        float: left;
        margin: 4px 0 0;
    }
    p {
        margin: 0 0 0 34px;
        font-size: 15px;
        line-height: 1.7;
    }
    .featured-open {
        font-size: 13px;
        padding: 0 0 0 34px;
        color: #46cd38;
    }
}

.btn-contact {
    display: block;
    padding: 16px;
    margin: 12px 16px;
    border: 2px solid #ff6b6b;
    color: #ff6b6b;
    font-weight: 400;
    &:hover {
        background: #ff6b6b;
        border: 2px solid #ff6b6b;
    }
}

.follow {
    background: #fff;
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        li {
            list-style: none;
            padding: 10px 20px;
            @media (max-width: 1200px) {
                padding: 12px 18px;
            }
            &:first-child,
            &:nth-child(2) {
                border-right: 1px solid #ededed;
            }
            h6 {
                margin: 0;
            }
        }
    }
    a {
        color: #ff6b6b;
        text-align: center;
        display: block;
        font-size: 14px;
        font-weight: 400;
        padding: 14px 0;
    }
}

.follow-img {
    text-align: center;
    padding: 30px 16px;
    color: #3e434b;
    img {
        border-radius: 50%;
    }
    h6 {
        margin: 11px 0 0;
    }
}

.btn-danger {
    background: #ff6b6b;
    border: #ff6b6b;
    &:hover,
    &:focus {
        color: #fff;
        border-color: #ea5555;
        background: #ea5555;
        outline: none;
        box-shadow: none;
    }
}



/* ==============================================================
   NEWSLETTER
   ============================================================== */

    .newsletter-bg {
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        min-height: 500px;
        background-position: center;
        background-repeat: no-repeat;

        .newsletter__inner {
            max-width: 400px;
            margin: 3rem auto;
            background: rgba(0,0,0,.43);
            padding: 2rem;
            color: white;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 25px;
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: 1.2rem
            }

           input {
                width: 100%;
                border: 0;
                text-align: center;
                margin: .4rem auto;
                padding: .9rem;
                outline: 0 !important

                &::placeholder {
                    color: #999fa2;

                }
            }

            p {
                font-weight: 700;
            }

            button {
                background: white;
                border: 0;
                padding: .5rem 2rem;
                margin: 2rem auto;
                color: $purple;
                font-weight: 700;
            }

            a {
                display: block;
                color: $green;
                text-decoration: underline
            }
        }
    }


/* ==============================================================
   LOCATIONS
   ============================================================== */

    .locations-wrap {
        text-align: center;

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0
        }

        .location__img {
            width: 130px;
            height: 130px;
            border-radius:50%;
            background-size: cover;
            margin: 2rem auto 1rem;
            transition: 0.3s;

        }

        a {
            color: $base;
            text-decoration: none;
            transition: 0.3s;
            display: block;
            padding: 0 3rem;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }


    }


/* ==============================================================
   PRICING
   ============================================================== */

.pricing-wrap {
    box-shadow: 0px 2px 1px 1px rgba(222, 222, 222, 0.48);
    transition: 0.3s;
    &:hover {
        box-shadow: 0px 3px 50px 0px #dedede;
        transform: translateY(-2px);
    }
}

.pricing-head {
    text-align: center;
    padding: 35px 0 20px;
    border-top: 5px solid #ea5555;
    h2 {
        color: #ea5555;
        margin: 0;
        font-size: 50px;
        font-weight: 400;
    }
    span {
        font-size: 16px;
        margin: 8px 0 0;
        display: block;
        color: #b1b1b1;
        text-transform: uppercase;
    }
}

.pricing-text-block {
    text-align: center;
    padding: 20px 40px;
    margin: 0;
    li {
        padding: 14px 0;
        font-size: 16px;
        list-style: none;
        border-bottom: 1px solid #f3ecec;
        &:last-child {
            border: none;
        }
    }
}

.pricing-signup {
    text-align: center;
    padding: 0 0 30px;
    .btn-danger {
        padding: 10px 18px;
    }
}

.pricing-wrap-hilight {
    box-shadow: 0px 3px 50px 0px #dedede;
    transform: translateY(-2px);
}


/* ==============================================================
   SUBPAGE
   ============================================================== */

.subpage-bg {
    background: #f9f9f9;
    background-size: cover;
}

.title-block_subpage {
    margin: 0;
    padding: 90px 0;
    h2 {
        color: #4a4a4a;
    }
    p {
        color: #9a9a9a;
        text-transform: uppercase;
        font-size: 16px;
        a {
            color: #9a9a9a;
            text-transform: uppercase;
            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }
    }
}


/* ==============================================================
   CONFIRMATION
   ============================================================== */

.confirmation-wrap {
    text-align: center;
    span {
        color: #05bf83;
        font-size: 30px;
        font-weight: 800;
        border: 1px solid #05bf83;
        border-radius: 50%;
        padding: 20px;
    }
    h2 {
        margin: 30px 0 15px;
    }
    p {
        font-family: 'Poppins', sans-serif;
        color: #7c7c7c;
        font-size: 18px;
    }
}

.btn-confirmation {
    padding: 14px 20px;
    font-size: 18px;
    margin: 12px 0 0;
}


/* ==============================================================
   404
   ============================================================== */

.error-page {
    text-align: center;
}

.error-404 {
    min-height: 600px;
    h2 {
        font-size: 140px;
        color: #ff6b6b;
        @media (max-width: 992px) {
            font-size: 130px;
        }
        @media (max-width: 480px) {
            font-size: 90px;
        }
    }
    h4 {
        color: #05bf83;
        font-size: 30px;
    }
    p {
        font-family: 'Poppins', sans-serif;
        color: #7c7c7c;
        font-size: 18px;
    }
}


/* ==============================================================
   CONTACT
   ============================================================== */

.address-box {
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.67);
    border: 1px solid #f7f7f7;
    padding: 20px;
    span {
        font-size: 36px;
        color: #ff6b6b;
    }
    p {
        font-family: 'Poppins', sans-serif;
        color: #7c7c7c;
    }
}

.form-group {
    textarea {
        height: 200px;
    }
}

.btn-submit {
    color: #fff;
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
    padding: 12px 20px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background: #ea5555;
    }
}

#map {
    height: 100%;
    width: 100%;
}


/* ==============================================================
   BLOG
   ============================================================== */

.blog-wrap {
    box-shadow: 0px 0px 31px -8px #d6d2d2;
    margin: 0 0 25px;
}

.blog-img {
    width: 100%;
}

.blog-avatar {
    text-align: center;
    img {
        border-radius: 50%;
        margin: -40px auto 0 auto;
        display: block;
    }
    p {
        font-size: 15px;
        color: #7c7c7c;
        margin: 10px 0 0;
    }
}

.blog-content_wrap {
    padding: 23px 30px;
    color: #7c7c7c;
    font-size: 14px;
    @media (max-width: 992px) {
        padding: 16px;
    }
    h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    p {
        font-size: 15px;
        line-height: 1.6;
        color: #929292;
    }
    a {
        color: #ff6b6b;
        transition: 0.3s;
        &:hover {
            color: #ea5555;
            text-decoration: none;
        }
    }
}

.blog-title:hover {
    text-decoration: none;
}

.pagination {
    margin: 55px 0 0;
}

.page-link {
    padding: 1rem 1.55rem;
    color: #ff6b6b;
    &:hover,
    &:active,
    &:focus {
        background: #ff6b6b;
        border-color: #ff6b6b;
        color: #fff;
        outline: none;
    }
}

.page-item.active .page-link {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

// Blog 2
.blog2-link {
    font-size: 14px;
    color: #ff6b6b;
    margin: 8px 0 0;
}

.blog2-link:hover {
    text-decoration: none;
    color: #ff6b6b;
}

.blog2-thumbnail-name {
    margin: -5px 0 10px!important;
    color: #9e9e9e !important;
    font-size: 15px !important;
}

.blog2-block {
    margin-top: 30px;
    @media (max-width: 1200px) {
        margin-top: 0;
    }
}


/* ==============================================================
   BLOG DETAIL
   ============================================================== */

.full-blog {
    // box-shadow: 0px 0px 31px -8px #d6d2d2;
}

.img-holder {
    position: relative;
    img {
        width: 100%;
    }
}

.blog-post-date {
    position: absolute;
    left: 20px;
    bottom: 16px;
    background: #ff6b6b;
    color: #fff;
    border-radius: 3px;
    padding: 8px 16px;
}

.blog-content {
    padding: 0 0;
    p {
        span {
            font-weight: 600;
        }
        a {
            color: #ff6b6b;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.blog-text {
    h4 {
        font-weight: 600;
    }
    p {
        line-height: 1.8;
        color: #505050;
    }
    h6 {
        a {
            color: #ff6b6b;
        }
    }
}

.blog-share {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px 40px;
    margin: 26px 0 0;
}

.comments {
    margin: 50px 0 0;
    @media (max-width: 768px) {
        padding: 0;
    }
    img {
        border-radius: 50%;
    }
    h4 {
        margin: 0 0 30px;
        border-bottom: 1px solid #eee;
        padding: 12px 0 20px;
    }
    h5 {
        font-size: 20px;
        font-weight: 500;
    }
    .media-body a {
        display: inline;
    }
    p {
        color: #505050;
    }
}

.comment-form {
    h4 {
        margin: 40px 0 30px;
        border-bottom: 1px solid #eee;
        padding: 12px 0;
    }
}

.comment-text {
    padding: 16px 12px;
}

.media {
    @media (max-width: 576px) {
        display: block;
    }
}

.media-body {
    line-height: 1.8;
    h5 {
        display: block;
    }
    a {
        display: block;
        color: #ff6b6b;
    }
}

.widget-box {
    box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.6);
    border: 1px solid #f7f7f7;
    padding: 20px;
    margin: 0 0 30px;
}

.btn-widget {
    padding: 16px 18px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    border-color: rgba(0, 0, 0, .15);
    background: #ff6b6b;
    border-color: #ff6b6b;
    color: #fff;
    transition: 0.3s;
    &:hover {
        background: #ea5555;
        color: #fff;
        border-color: #ea5555;
    }
}

.blog-thumb-content {
    margin-left: 120px;
}

.latest-blog {
    border-bottom: 1px solid #eee;
    padding: 18px 0;
    @media (max-width: 992px) {
        width: 49%;
    }
    @media (max-width: 576px) {
        width: 100%;
    }
    &:last-child {
        border: none;
    }
    img {
        float: left;
        width: 110px;
        @media (max-width: 576px) {
            float: none;
        }
    }
    h4 {
        margin: 0 0 30px;
    }
    p {
        vertical-align: top;
        margin: 0 0 0 12px;
        color: #adadad;
        @media (max-width: 768px) {
            font-size: 14px;
        }
        @media (max-width: 576px) {
            margin: 8px 0 0;
            display: block;
        }
    }
    strong {
        color: #565656;
    }
    span {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
}

.categories {
    a {
        display: block;
        border-bottom: 1px solid #eee;
        color: #adadad;
        padding: 13px 0;
        margin: 0;
        ytransition: 0.3s;
        &:last-child {
            border: none;
        }
        &:hover {
            text-decoration: none;
            color: #ea5555;
        }
        span {
            font-size: 14px;
            float: right;
        }
    }
}


/* ==============================================================
   ADD LISTING
   ============================================================== */

.listing-wrap {
    border: 1px solid #ececec;
    padding: 0 30px 30px;
    form {
        margin: 46px 0 0;
    }
    textarea {
        height: 100px;
    }
}

.listing-title {
    text-align: center;
    margin: 70px 0 54px;
    span {
        font-size: 32px;
        color: #ff6b6b;
    }
    h4 {
        margin: 10px 0;
    }
    p {
        color: #adadad;
    }
}

.form-control {
    padding: 14px 12px;
    background: #fbfbfb;
    &:focus {
        border-color: #ff6b6b;
    }
}

.contact-form .form-control {
    background: #FFF;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.05rem + 2px);
}

.form-control:focus {
    border-color: #ff6b6b;
}

.md-checkbox {
    position: relative;
    margin: 0 0 10px;
}

.md-checkbox label {
    cursor: pointer;
    color: #adadad;
    font-size: 13px;
    vertical-align: top;
    @media (max-width: 1230px) {
        font-size: 12px;
    }
}

.md-checkbox label:before,
.md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.md-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #adadad;
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
}

.md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
}

.md-checkbox input[type="checkbox"]:checked+label:before {
    background: #ff6b6b;
    border: none;
}

.md-checkbox input[type="checkbox"]:checked+label:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.listing-time {
    margin: 10px 0 0;
}

.custom-file {
    width: 100%;
    border: 1px dashed #ececec;
    height: 100px;
}

.custom-file-input {
    width: 100%;
    cursor: pointer;
    height: 100px;
}

.add-gallery-text {
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30px;
    color: #a0a0a0;
    i {
        display: block;
    }
}

// Login Sign up
.nav-pills {
    li {
        text-align: center;
        width: 50%;
        background: #fbfbfb;
        a {
            color: #000;
            padding: 20px;
            border-radius: 0 !important;
            &:hover {
                color: #000;
            }
        }
    }
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #020101;
    color: #fff;
}

.btn-primary {
    background: #ff6b6b;
    border-color: #ff6b6b;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover,
    &:focus {
        background: #ea5555;
        border-color: #ea5555;
        outline: none;
        box-shadow: none;
    }
}


/* ==============================================================
   PAYMENT METHORD
   ============================================================== */

.payment-wrap {
    border: 1px solid #ececec;
    padding: 0 24px 20px;
    margin: 0 0 20px;
}

.payment-title {
    border-bottom: 1px solid #ccc;
    padding: 18px 0;
    margin: 0 0 26px;
    span {
        display: inline-block;
        color: #ff6b6b;
        font-size: 22px;
        margin: 0 8px 0 0;
    }
    h4 {
        display: inline-block;
        margin: 0;
    }
}

.card-header {
    &:hover {
        text-decoration: none;
    }
    h5 {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }
    img {
        width: 82px;
        position: absolute;
        right: 14px;
        top: 13px;
    }
}

.booking-summary_block {
    border: 1px solid #ececec;
    h6 {
        font-weight: 700;
    }
    span {
        font-size: 14px;
    }
}

.booking-summary-box {
    padding: 24px;
}

.booking-summary_contact {
    margin: 22px 0 22px;
    p {
        font-size: 15px;
        margin: 0;
        line-height: 1.8;
    }
}

.booking-summary_deatail {
    h5 {
        font-weight: 600;
    }
}

.min-height-block {
    min-height: 500px;
}

.booking-cost {
    margin: 20px 0 0;
    span {
        font-weight: 600;
    }
    p {
        font-size: 15px;
        margin: 10px 0 0;
        line-height: 1.8;
        span {
            float: right;
        }
    }
}

.payment-method-collapse .card-header {
    cursor: pointer;
}

.total-red {
    color: #ff6b6b;
}

.flex-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}